#dashboards_list_header {
    display: flex;

    >div {
        border: 1px solid gray;
    }

    .select_download_wrap {
        width: 50px;
        text-align: center;
    }

    .title {
        width: 100%;
        padding: 0 10px;
    }

    .status-header {
        width: 169px;
    }
}

#dashboards_list {
    height: calc(100vh - 50px - 60px - 70px - 40px - 35px);
    overflow-y: scroll;
    border-bottom: 1px solid gray;

    .dash {
        display: flex;

        >div {
            border: 1px solid gray;
        }

        .select_download_wrap {
            width: 50px;
            text-align: center;
        }

        .title {
            width: 100%;
            padding: 0 10px;
        }

        .status {
            width: 150px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .not-downloaded {
            background-color: #fff176;
        }

        .downloaded {
            background-color: #76ff94;
        }

        .save-fail {
            background-color: #ffa176;
        }

        .save-success {
            background-color: #76b1ff;
        }
    }
}

#dash_control {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    button {
        color: #fff;
        padding: 3px 20px;
        font-size: 22px;
        background-color: #333;
        border: none;
        border-radius: 5px;
    }
}