<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"> -->
  <title></title>
  <link rel="stylesheet" href="./css/main.min.css" />
  <link rel="stylesheet" href="../node_modules/@iconscout/unicons/css/line.css">
  <!-- https://iconscout.com/unicons/explore/line -->
</head>

<body>

  <div id="window_bar">
    <div class="title">Grafana Backup & Restore - Saulo Costa</div>
    <div id="window_btns">
      <button class="window_btns" id="minimize"></button>
      <button class="window_btns" id="maxmize"></button>
      <button class="window_btns" id="close"></button>
    </div>
  </div>

  <nav>
    <div class="nav_item active" data-target="servers"><i class="uil uil-servers"></i> SERVERS</div>
    <div class="nav_item" data-target="dashs"><i class="uil uil-create-dashboard"></i> DASHBOARDS</div>
    <div class="line"><!-- via js --></div>
  </nav>

  <main id="contents">
    <!-- tela2 SERVERS -->
    <div class="content active" id="servers">
      <h1 class="title"><i class="uil uil-play"></i> SERVERS</h1>
      <hr>
      <div id="server_list">
        <!-- via js -->
      </div>
    </div>

    <!-- tela2 DASHS -->
    <div class="content" id="dashs">
      <h1 class="title"><i class="uil uil-play"></i> DASHBOARDS</h1>
      <h3> Server: <span id="server_selected">Nenhum servidor selecionado</span></h3>
      <hr>
      <div id="dashboards_list">
        <!-- via js -->
      </div>
    </div>
  </main>

  <script src="./js/libs.js"></script>
  <script src="./js/database.js"></script>
  <script src="./js/window_control.js"></script>
  <script src="./js/nav_control.js"></script>
  <script src="./js/grafana.js"></script>
</body>

</html>